<div class="filter-section">
      <div class="modal-content">
        <div class="d-flex align-items-center">
            <svg width="16" height="16" fill="none" class="me-2">
              <path d="M8 4v8M12 8H4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
            </svg>
            <span class="me-2">Add</span>
        </div>
        <hr>
        <div class="modal-body">
          <!-- Contenuto del filtro -->
          <!-- Aggiungi qui i tuoi campi di filtro -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
          <button type="button" class="btn btn-primary">Applica</button>
        </div>
      </div>
    
</div>
