
.navbar .nav-link {
    font-size: 1rem; /* Imposta la dimensione del testo */


  }

 .navbar .active-link .nav-link {
    color: rgb(13, 110, 253)!important;
    //font-weight: bold; /* Rende il testo in grassetto */
    border-bottom: 2px solid rgb(13, 110, 253); /* Aggiunge una linea sotto il link */
  }

  .navbar-nav .nav-item:hover {
    background-color: #0d0d0d1a; /* Cambia il colore di sfondo al passaggio del mouse */
    color: #0d0d0db3; /* Cambia il colore del testo al passaggio del mouse */
}





/* Effetto al passaggio del mouse */
.btn-lateral:hover {
  background-color: #0d0d0d1a;
  color: #0d0d0db3;
}

/* Effetto al passaggio del mouse */
.btn-circle:hover {
  background-color: rgba(0, 0, 0, 0.1);

}

/* Stile per il pulsante con i tre puntini */
.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.btn-circle i {
  font-size: 1.2rem;
}


.custom-offcanvas {
  /*max-width: 100px !important; /* Dimensione massima di 100px */
  /*border-top-right-radius: 20px; /* Arrotondamento in alto a destra */
  /*border-bottom-right-radius: 20px; /* Arrotondamento in basso a destra */
  /*top: 56px; /* Posizionamento sotto la toolbar (altezza della toolbar) */
  left: 10px !important; /* Spostamento leggermente a destra */
  height: calc(100% - 56px); /* Altezza massima meno l'altezza della toolbar */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Ombreggiatura per un effetto di profondità */
  border: 1px solid #ddd; /* Bordo leggero */
}

/* Stile per l'header dell'offcanvas */
.custom-offcanvas .offcanvas-header {
  border-bottom: 1px solid #ddd; /* Linea di separazione */
  padding: 10px;
}

/* Stile per il corpo dell'offcanvas */
.custom-offcanvas .offcanvas-body {
  padding: 10px;
}

/* Stile per gli elementi della lista */
.custom-offcanvas .list-group-item {
  border: none; /* Rimuovi il bordo predefinito */
  /*padding: 8px 12px; /* Spaziatura interna */
  /*font-size: 0.9rem; /* Dimensione del testo */
}

.offcanvas.offcanvas-start{
  top:76px;
  height: calc(70% - 76px);
}

/* Effetto hover sugli elementi della lista */
.custom-offcanvas .list-group-item:hover {
  background-color: #f8f9fa; /* Colore di sfondo al passaggio del mouse */
}
