    <!-- Topbar Start -->
    <!--
    <div
      class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block rounded-top">
      <div class="row gx-0 align-items-center">
        <div class="col-lg-4 col-sm-4  px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center me-4">
             <div class="row py-0">
                <p class="fw-bold font-italic mb-0">F-SOFT</p>
                <small>Flow manager</small>
             </div>
          </div>    
          <div class="h-100 d-inline-flex align-items-center me-4">
            <small class="far fa-clock me-2"></small>
            <small>Mon - Fri : 09 AM - 09 PM</small>
          </div>
        </div>

        <div class="col-lg-4 col-sm-4 px-5 text-center">
            <div class="h-200 d-inline-flex align-items-center me-4">
                <div class="row py-0">
                   <h4 class="fw-bold font-italic mb-0">Loaded Page:  {{ currentPage }} </h4>
                </div>
             </div>   
        </div>



        <div class="col-lg-4 col-sm-4 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center">
            <button class="btn btn-dark align-middle" >Profile<img src="assets/img/user.webp" class="rounded-circle ms-1" style="width: 50px;"
              alt="Avatar" /></button>
            <button class="btn btn-dark align-middle"  (click)="onLogout()">Logout<i class="bi bi-box-arrow-right ms-1" ></i></button>
          </div>
        </div>
      </div>
    </div>
    -->

    <!-- Topbar End -->



    <div class="container-fluid header-custom" >
       <div class="col-lg-12 mx-auto"> 
       <!-- Navbar Start -->
       <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top pe-5 ">
          <!-- Pulsante con i tre puntini -->
          <button class="btn btn-circle me-2" (click)="openAppDrawer()">
            <i class="bi bi-grid"></i> <!-- Icona di tre puntini di Bootstrap Icons -->
          </button>
          

         <div href="index.html" class="navbar-brand d-flex align-items-center">
                <img class="img-fluid me-3" src="assets/img/dmsoft_logo.svg" alt="" style="width: 80px; height: 40px;" />
          </div>
         <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" appDropdown>
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav rounded pe-4 py-3 py-lg-0">
                <li routerLinkActive="active-link"><a routerLink="/dashboard" class="nav-item nav-link">Dashboard</a></li>
                <!--<li class="nav-item dropdown">
                    <a appDropdown style="cursor: pointer;" class="nav-link dropdown-toggle"  role="button">Flows<span class="caret"></span></a>
                    <ul class="dropdown-menu border-1 m-0" aria-labelledby="dropdownMenuButton">
                        <li routerLinkActive="active"><a routerLink="/flows" class="dropdown-item" style="cursor: pointer;">Flows Materdata</a></li>
                        <li routerLinkActive="active"><a routerLink="/models" class="dropdown-item" style="cursor: pointer;">Models</a></li>
                        <li routerLinkActive="active"><a routerLink="/groups" class="dropdown-item" style="cursor: pointer;">Groups</a></li>
                    </ul>
                </li> -->
                <li routerLinkActive="active-link"><a routerLink="/flows" class="nav-item nav-link" style="cursor: pointer;">Flows</a></li>
                <li routerLinkActive="active-link"><a routerLink="/models" class="nav-item nav-link" style="cursor: pointer;">Models</a></li>
                <li routerLinkActive="active-link"><a routerLink="/origins" class="nav-item nav-link" style="cursor: pointer;">Origins</a></li>
                <li routerLinkActive="active-link"><a routerLink="/interfaces" class="nav-item nav-link" style="cursor: pointer;">Interfaces</a></li>
                <li routerLinkActive="active-link"><a routerLink="/groups" class="nav-item nav-link" style="cursor: pointer;">Groups</a></li>
                <li routerLinkActive="active-link"><a routerLink="/comunications" class="nav-item nav-link" style="cursor: pointer;">Communications</a></li>
                <li routerLinkActive="active-link"><a routerLink="/logs" class="nav-item nav-link" style="cursor: pointer;">Logs</a></li>
            </div>

                    <!-- Sposta i pulsanti "Profile" e "Logout" qui -->
                    <div class="ms-auto d-flex align-items-center">
                      <button class="btn btn-circle me-2" title="Help">
                        <i class="bi bi-question-lg"></i>
                      </button>
                      <button class="btn btn-circle me-2" title="Options" (click)="onOptionsClick()">
                        <i class="bi bi-gear"></i>
                      </button>
                      <button class="btn btn-circle me-2" title="Profile">
                        <img src="assets/img/user.webp" class="rounded-circle" style="width: 24px;" alt="Avatar" />
                      </button>
                      <button class="btn btn-circle" (click)="onLogout()" title="Logout">
                        <i class="bi bi-box-arrow-right"></i>
                      </button>
                    </div>
         </div>
     </nav>
     <!-- Navbar End -->
    </div>
 </div>

 <!-- Modale laterale per le applicazioni -->
<div class="offcanvas offcanvas-start custom-offcanvas rounded" tabindex="-1" id="appDrawer" aria-labelledby="appDrawerLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="appDrawerLabel">Applications</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
      <li class="list-group-item">
        <i class="bi bi-arrow-left-right me-2"></i> <!-- Icona di trasferimento file -->
          F-Soft 
      </li>
      <!-- Aggiungi altre applicazioni qui -->
    </ul>
  </div>
</div>
