   <!--  sezione inserimento/modifica     -->  
   <div data-section class="container mt-3">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-md-12">
                <form [formGroup]="form" (ngSubmit)="submitItem(editMode)">

                                        <!-- summary errori -->
                    <div *ngIf="errorSummary.length" class="alert alert-danger">
                        <ul>
                        <li *ngFor="let e of errorSummary">{{ e }}</li>
                        </ul>
                    </div>

                    <div class="d-flex" >
                        <div class="col-md-6  mb-3 pe-3">
                            <label for="id" class="form-label">{{componentDescription}} Id</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" maxlength="20">
                        </div>
                        <div class=" col-md-3  mb-3 pe-3">
                            <dms-toogle-switch lableOn="Enable" lableOff="Disable" lableComponent="Origin Enabled" defaultValue="S"  valueOn="S" valueOff="N" id="enabled" name="enabled" formControlName="enabled" defaultValue="S" ></dms-toogle-switch>
                        </div>
                        <div class=" col-md-3  mb-3">
                            <dms-select-custom label="DBMS type" 
                                            id="dbType"
                                            name="dbType"
                                            formControlName="dbType"
                                            [(ngModel)]="dbType"
                                            (ngModelChange)="onDbTypeChange($event)"
                                            [options]="dbTypes"
                                            [showEmptyOption]="true"
                                            emptyOptionLabel=""
                                            emptyOptionValue=""
                                            [displayMode]="'code'">
                                        </dms-select-custom>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" formControlName="description" maxlength="100">
                    </div>
                    <div class="d-flex" >
                        <div class="col-md-6 mb-3 pe-3">
                            <label for="host" class="form-label">Host</label>
                            <input type="text" class="form-control" id="ip" name="ip" formControlName="ip" maxlength="100">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="jdbcCustomString" class="form-label">Jdbc Custom String</label>
                            <input type="text" class="form-control" id="jdbcCustomString" name="jdbcCustomString" formControlName="jdbcCustomString" maxlength="100">
                        </div>
                    </div>
                    <div class="d-flex" >
                        <div class="col-md-3  mb-3 pe-3">
                            <label for="user" class="form-label">User</label>
                            <input type="text" class="form-control" id="user" name="user" formControlName="user" maxlength="100">
                        </div>
                        <div class=" col-md-3  mb-3 pe-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" formControlName="password" maxlength="100">
                        </div>
                        <div class="col-md-3  mb-3 pe-3">
                            <label for="port" class="form-label">Port</label>
                            <input type="number" class="form-control" id="port" name="port" formControlName="password" maxlength="100">
                        </div>
                        <div class=" col-md-3  mb-3">
                            <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Secure Connection" valueOn="S" valueOff="N" id="secure" name="secure" formControlName="secure" defaultValue="N" ></dms-toogle-switch>
                        </div>
                    </div>

                    <div class="d-flex" >
                    </div>
                   
                    <input type="hidden" id="note" name="note" formControlName="note" >

                </form>
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <div variable-section-3 class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class=" d-inline-flex justify-content-end">
                        <div></div>
                        <button type="button" class="btn btn-light col-md-3 pe-3 me-3" *ngIf="editMode == 'E' || editMode == 'C'" >Reset {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'I' || editMode == ''"  [disabled]="form.invalid"  (click)="submitForm()">Insert {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'C'"  [disabled]="form.invalid"   (click)="submitForm()" >Copy {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'D'" (click)="submitForm()">Delete {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'E'"  [disabled]="form.invalid"   (click)="submitForm()">Update {{ componentDescription }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






