<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
          margin-top: -100px;
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <h2 class="fw-bold mb-5">{{isSignup ? 'Sign up now' : 'Login now'}}</h2>
            <div class="alert alert-danger" *ngIf="error">
                <p>{{error}}</p>
            </div>
            <div *ngIf="isLoading">
                <dms-loading-spinner></dms-loading-spinner>
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
              <!-- 2 column grid layout with text inputs for the first and last names -->
  
              <!-- Email input -->
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email"  ngModel required >
              </div>
  
              <!-- Password input -->
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="password"  ngModel required>
              </div>
              <div class="form-group" *ngIf="isSignup">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" name="repeatPassword" id="repeatPassword" class="form-control" placeholder="repeat password" required="{{isSignup}}">
              </div>

              <div class="col-md-12">
                <div *ngIf="!isSignup" class="d-flex mt-2 justify-content-center">
                    <p>Don't have an account?</p> <a href="#" (click)="activeSignup($event)">Signup</a>
                </div>
                <div *ngIf="isSignup" class="d-flex mt-2 justify-content-center">
                    <p>Already have an account?</p> <a href="#" (click)="activeLogin($event)">Login</a>
                </div>
              </div>
  
              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mt-3" [disabled]="!authForm.valid" *ngIf="isSignup">
                Sign up
              </button>
                <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mt-3" [disabled]="!authForm.valid" *ngIf="!isSignup">
                Login
              </button>
 

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

