<dms-generic-detail [buttonDescription]="buttonDescriptionD"  (quickEdit)="toggleQuickEdit($event)" (itemInsert)="onManageItem($event)"  [isQuickEditEnabled]="isQuickEditEnabled" >

    <!--  sezione di modifiche rapide                                               -->    
    <div variable-section-1 class="container mt-3">
        <div class="col-md-12">
            <form #quickEditForm="ngForm" (ngSubmit)="onCreatePost(quickEditForm.value)">
                <div class="d-flex" >
                    <div class="col-md-6  mb-3 pe-3">
                        <label for="id" class="form-label">{{buttonDescriptionD}} Code</label>
                        <input type="text" class="form-control" id="q_id" name="id" maxlength="20" ngModel disabled>
                        <!-- Campo nascosto che verrà inviato con il form -->
                        <input type="hidden" name="id" [ngModel]="q_id">
                    </div>
                    <div class="col-md-6 mb-3">
                        <dms-toogle-switch lableOn="Enabled" lableOff="Disabled" valueOn="S" valueOff="N" lableComponent="Origin Enabled" defaultValue="S" ngModel id="q_status" name="status" [disabled]="!quickModeAcive"></dms-toogle-switch>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="notes" class="form-label">Notes</label>
                    <textarea class="form-control" id="q_notes" name="notes" rows="5" maxlength="500" ngModel [disabled]="!quickModeAcive"> </textarea>
                </div>

                <!-- Sezione Collassabile -->
                <div class="mb-3">
                    <a class="btn btn-light btn-log w-100 text-start d-flex justify-content-between align-items-center p-2 rounded-3" 
                    data-bs-toggle="collapse" href="#collapseLog" role="button" aria-expanded="false" aria-controls="collapseLog">
                    <span>Log section</span>
                    <i class="bi bi-chevron-down collapse-icon"></i> <!-- Icona freccia -->
                    </a>
                    <div class="collapse mt-2 border rounded-3" id="collapseLog">
                    <div class="card card-body">
                        <div class="d-flex" >
                            <div class="col-md-4  mb-3 pe-3">
                                <label for="creationUser" class="form-label">Creation User</label>
                                <input type="text" class="form-control" id="creationUser" name="creationUser"  [value]="auditlog.creationUser ?? ''"  disabled>
                            </div>
                            <div class="col-md-8  mb-3">
                                <label for="creationTs" class="form-label">Creation Timestamp</label>
                                <input type="text" class="form-control" id="creationTs" name="creationTs"   [value]="auditlog.creationTs ?? ''" disabled>
                            </div>
                        </div>
                        <div class="d-flex" >
                            <div class="col-md-4  mb-3 pe-3">
                                <label for="updateUser" class="form-label">Update User</label>
                                <input type="text" class="form-control" id="updateUser" name="updateUser"   [value]="auditlog.updateUser ?? ''" disabled>
                            </div>
                            <div class="col-md-8  mb-3">
                                <label for="updateTs" class="form-label">Update Timestamp</label>
                                <input type="text" class="form-control" id="updateTs" name="updateTs"  [value]="auditlog.updateTs ?? ''" disabled> 
                            </div>
                        </div>
                    </div>
                    </div>
                </div>




                <!-- Campi nascosti da inviare comunque in update-->
                <input type="hidden" id="q_jdbc_custom_string" name="jdbc_custom_string" ngModel>
                <input type="hidden" id="q_dbType" name="dbType" ngModel>
                <input type="hidden" id="q_description" name="description" ngModel>
                <input type="hidden" id="q_host" name="host" ngModel>


                <input type="hidden" id="q_jdbc_custom_string" name="jdbc_custom_string" ngModel>
                <input type="hidden" id="q_password" name="password" ngModel>
                <input type="hidden" id="q_port" name="port" ngModel>
                <input type="hidden" id="q_secure" name="secure" ngModel>
                <input type="hidden" id="q_user" name="user" ngModel>
    
                <hr> <!-- Riga a dividere -->
    
                <button type="submit" class="btn btn-primary btn-submit col-md-12 mb-3" [disabled]="!quickModeAcive">Submit changes</button>
            </form>
        </div>
    </div>

    <div data-section>
        <dms-origin-edit [componentDescription]="buttonDescriptionD"  (closeModal)="onCloseModal()" ></dms-origin-edit>
    </div>


</dms-generic-detail>
