   <!--  sezione inserimento/modifica     -->  
   <div data-section class="container mt-3">
    <div class="modal-body">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="basic-tab" [ngClass]="{'active': activeTab === 'basicData'}" (click)="activeTab = 'basicData'" >Basic Data</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="i&oData-tab" [ngClass]="{'active': activeTab === 'i&oData'}" (click)="activeTab = 'i&oData'" >I/O Data</button>
                </li>
            </ul>
            <br>
            <div class="col-md-12">
                <form [formGroup]="form" (ngSubmit)="submitItem(editMode)">
                    <!-- summary errori -->
                    <div *ngIf="errorSummary.length" class="alert alert-danger">
                        <ul>
                        <li *ngFor="let e of errorSummary">{{ e }}</li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div [hidden]="activeTab !== 'basicData'">
                            <div class="d-flex" >
                                <div class="col-md-6  mb-3 pe-3">
                                    <label for="id" class="form-label">{{componentDescription}} Id</label>
                                    <input type="text" class="form-control" id="id" formControlName="id" maxlength="20"  [ngClass]="{ 'is-invalid': isInvalid('id') }" >
                                </div>
                                <div class="col-md-6  mb-3 ">
                                    <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Enabled" defaultValue="S"  valueOn="S" valueOff="N" id="enabled"  formControlName="enabled"></dms-toogle-switch>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description"  formControlName="description" maxlength="100"  [ngClass]="{ 'is-invalid': isInvalid('description') }" >
                            </div>
                            <div class="d-flex" >
                                <div class=" col-md-6  mb-3 pe-3">                                    
                                    <dms-select-custom label="Model" 
                                        id="model"
                                        formControlName="model"
                                        [selectNgClass]="{ 'is-invalid': isInvalid('model') }"
                                        [(ngModel)]="model"
                                        [optionsObservable]="modelOptions$"
                                        (ngModelChange)="onModelChange($event)"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom> 
                                </div>
                                <div class=" col-md-6  mb-3 ">                   
                                    <dms-select-custom label="Origin" 
                                        id="origin"
                                        formControlName="origin"
                                        [selectNgClass]="{ 'is-invalid': isInvalid('origin') }"
                                        [(ngModel)]="origin"
                                        [optionsObservable]="originOptions$"
                                        (ngModelChange)="onOriginChange($event)"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom>
                                </div>
                            </div>

                            <div class="d-flex" >
                                <div class=" col-md-6  mb-3 pe-3">  
                                    <dms-select-custom label="Interface" 
                                        id="interfaceId"
                                        formControlName="interfaceId"
                                         [selectNgClass]="{ 'is-invalid': isInvalid('interfaceId') }"
                                        [(ngModel)]="interfaceId"
                                        [optionsObservable]="interfaceOptions$"
                                        (ngModelChange)="onInterfaceChange($event)"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom> 
                                </div>

                                <div class="col-md-6 mb-3">
                                    <dms-select-custom 
                                        label="Group Id" 
                                        id="groupId"
                                        formControlName="groupId"
                                        [selectNgClass]="{ 'is-invalid': isInvalid('groupId') }"
                                        [(ngModel)]="groupId"
                                        [optionsObservable]="groupOptions$"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom> 
                                </div>
                            </div>
                            <input type="hidden" id="note" name="note">
                        </div>
                    </div>
                    
                    <!--               sezione 2                 -->
                    <div class="tab-content" id="myTabContent">
                        <div [hidden]="activeTab !== 'i&oData'"> 
                            <div class="d-flex" >
                                <div class=" col-md-4  mb-3 pe-3">
                                    <dms-select-custom 
                                        label="Notification Code" 
                                        id="notificationFlow"
                                        formControlName="notificationFlow"
                                        [selectNgClass]="{ 'is-invalid': isInvalid('notificationFlow') }"
                                        [(ngModel)]="notificationFlow"
                                        [optionsObservable]="communicationOptions$"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom> 
                                </div>                           
                                <div class=" col-md-4  mb-3 pe-3">
                                    <dms-select-custom 
                                        label="Notification Ok" 
                                        id="notificationOk"
                                        formControlName="notificationOk"
                                        [selectNgClass]="{ 'is-invalid': isInvalid('notificationOk') }"
                                        [(ngModel)]="notificationOk"
                                        [optionsObservable]="communicationOptions$"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom>                   
                                </div>
                                <div class=" col-md-4  mb-3 ">
                                    <dms-select-custom 
                                        label="Notification Ko" 
                                        id="notificationKo"
                                        formControlName="notificationKo"
                                        [selectNgClass]="{ 'is-invalid': isInvalid('notificationKo') }"
                                        [(ngModel)]="notificationKo"
                                        [optionsObservable]="communicationOptions$"
                                        [showEmptyOption]="true"
                                        emptyOptionLabel=""
                                        emptyOptionValue=""
                                        [displayMode]="'code-description'">
                                    </dms-select-custom>
                                </div>
                            </div>

                            <div class=" col-md-12 ">
                                <label for="integrityFileName" class="form-label">Integrity File Name</label>
                                <input type="text" class="form-control" id="integrityFileName" formControlName="integrityFileName" maxlength="100" >                       
                            </div>
                            <div class="d-flex" >
                                <div class=" col-md-4  mb-3 pe-3 ">
                                    <label for="dbTable" class="form-label">Table</label>
                                    <input type="text" class="form-control" id="dbTable"  formControlName="dbTable" maxlength="50" >
                                </div>
                                <div class=" col-md-4  mb-3 pe-3 ">
                                    <label for="folder" class="form-label">Folder</label>
                                    <input type="text" class="form-control" id="folder"  formControlName="folder" maxlength="100" >
                                </div>
                                <div class=" col-md-4  mb-3 ">
                                    <label for="file" class="form-label">File</label>
                                    <input type="text" class="form-control" id="file"  formControlName="file" maxlength="100" >
                                </div>
                            </div>

                            <div class="d-flex" >
                                <div class=" col-md-4  mb-3 pe-3 ">
                                    <label for="remoteFolder" class="form-label">Remote Folder</label>
                                    <input type="text" class="form-control" id="remoteFolder"  formControlName="remoteFolder" maxlength="100" >
                                </div>
                                <div class=" col-md-4  mb-3 pe-3 ">
                                    <label for="remoteFile" class="form-label">Remote File</label>
                                    <input type="text" class="form-control" id="remoteFile"  formControlName="remoteFile" maxlength="100">
                                </div>
                                <div class=" col-md-4  mb-3 ">
                                    <label for="lengthFixed" class="form-label">Length of Fixed Export</label>
                                    <input type="text" class="form-control" id="lengthFixed"  formControlName="lengthFixed" maxlength="100" >
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <div variable-section-3 class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class=" d-inline-flex justify-content-end">
                        <div></div>
                        <button type="button" class="btn btn-light col-md-3 pe-3 me-3" *ngIf="editMode == 'E' || editMode == 'C'" >Reset {{ componentDescription }}</button>
                        <button type="button" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'I' || editMode == ''"  [disabled]="form.invalid" (click)="submitForm()">Insert {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'C'"  [disabled]="form.invalid" (click)="submitForm()" >Copy {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'D'" (click)="submitForm()">Delete {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'E'" [disabled]="form.invalid" (click)="submitForm()">Update {{ componentDescription }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





