
   <!--  sezione inserimento/modifica     -->  
<div data-section class="container mt-3">
    <div class="modal-body">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="basic-tab" [ngClass]="{'active': activeTab === 'basicData'}" (click)="activeTab = 'basicData'" >Basic Data</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="flagData-tab" [ngClass]="{'active': activeTab === 'flagData'}" (click)="activeTab = 'flagData'" >Flags & Retention Data</button>
                </li>
                <li class="nav-item" role="presentation" *ngIf="showExportSection">
                    <button class="nav-link" id="exportData-tab" [ngClass]="{'active': activeTab === 'exportData'}" (click)="activeTab = 'exportData'" >Export/Import DBMS Data</button>
                </li>
            </ul>
            <br>
            <div class="col-md-12">
                <form  [formGroup]="form" (ngSubmit)="submitItem(editMode)">
                    <!-- summary errori -->
                    <div *ngIf="errorSummary.length" class="alert alert-danger">
                        <ul>
                        <li *ngFor="let e of errorSummary">{{ e }}</li>
                        </ul>
                    </div>

                    <div class="tab-content" id="myTabContent">
                           <div [hidden]="activeTab !== 'basicData'">
                                <div class="d-flex" >
                                    <div class="col-md-6  mb-3 pe-3">
                                        <label for="id" class="form-label">{{componentDescription}} Id</label>
                                        <input type="text" class="form-control" id="id" name="id" maxlength="20" formControlName="id" [ngClass]="{ 'is-invalid': isInvalid('id') }"> 
                                    </div>
                                    <div class="col-md-3  mb-3 pe-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Enabled" defaultValue="S"  valueOn="S" valueOff="N"  id="enabled" name="enabled" formControlName="enabled" ></dms-toogle-switch>
                                    </div>
                                    <div class="col-md-3  mb-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Send Mail" defaultValue="N"  valueOn="S" valueOff="N"  id="sendMail" name="sendMail" formControlName="sendMail"></dms-toogle-switch>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" formControlName="description" maxlength="100" [ngClass]="{ 'is-invalid': isInvalid('description') }">
                                </div>
                                <div class="d-flex" >
                                    <div class=" col-md-3  mb-3 pe-3">
                                        <dms-select-custom label="Type" 
                                            id="type"
                                            name="type"
                                            formControlName="type"
                                            [selectNgClass]="{ 'is-invalid': isInvalid('type') }"
                                            [(ngModel)]="type"
                                            (ngModelChange)="onTypeChange($event)"
                                            [options]="types"
                                            [showEmptyOption]="true"
                                            emptyOptionLabel=""
                                            emptyOptionValue=""
                                            [displayMode]="'code-description'">
                                        </dms-select-custom>
                                    </div>
                                    <div class="col-md-3  mb-3 pe-3">
                                        <dms-select-custom label="Direction" 
                                            id="direction"
                                            name="direction"
                                            formControlName="direction"
                                            [selectNgClass]="{ 'is-invalid': isInvalid('direction') }"
                                            [(ngModel)]="direction"
                                            (ngModelChange)="onDirectionChange($event)"
                                            [options]="directions"
                                            [showEmptyOption]="true"
                                            emptyOptionLabel=""
                                            emptyOptionValue=""
                                            [displayMode]="'code-description'">
                                        </dms-select-custom>
                                    </div>
                                    <div class="col-md-3  mb-3 pe-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Decompression" defaultValue="N"  valueOn="S" valueOff="N"  id="decompression" name="decompression" formControlName="decompression"></dms-toogle-switch>
                                    </div>
                                    <div class="col-md-3  mb-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Compression" defaultValue="N"  valueOn="S" valueOff="N" id="compression" name="compression" formControlName="compression"></dms-toogle-switch>
                                    </div>
                                </div>
                                <input type="hidden" id="note" name="note" formControlName="note" >
                            </div> 
                            
                    </div>
                        
                        
                        <!--               sezione 2                 -->
                    <div class="tab-content" id="myTabContent">
                            <div [hidden]="activeTab !== 'flagData'"> 
                                <div class="d-flex" >
                                    <div class="col-md-4  mb-3 pe-3">
                                        <label for="retry" class="form-label">Retry</label>
                                        <input type="number" class="form-control" id="retry" name="retry" formControlName="retry" maxlength="100">
                                    </div>
                                    <div class="col-md-4  mb-3 pe-3">
                                        <label for="retryInterval" class="form-label">Retry Interval</label>
                                        <input type="number" class="form-control" id="retryInterval" name="retryInterval" formControlName="retryInterval" maxlength="100">
                                    </div>
                                    <div class=" col-md-4  mb-3">
                                        <label for="retention" class="form-label">Retention</label>
                                        <input type="number" class="form-control" id="retention" name="retention" formControlName="retention" maxlength="100">
                                    </div>
                                </div>
                                
                                
                                <div class="d-flex" >
                                    <div class="col-md-4  mb-3 pe-3">
                                        <dms-select-custom label="Internationalization" id="internationalization" name="internationalization" formControlName="internationalization" [(ngModel)]="locale" [options]="localeList"
                                             [selectNgClass]="{ 'is-invalid': isInvalid('internationalization') }"
                                             [showEmptyOption]="true" emptyOptionLabel="" emptyOptionValue="" [displayMode]="'code'"> 
                                        </dms-select-custom>
                                    </div>
                                    <div class="col-md-4  mb-3 pe-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Delete File" defaultValue="N"  valueOn="S" valueOff="N" id="deleteFile" name="deleteFile" formControlName="deleteFile" ></dms-toogle-switch>
                                    </div>
                                    <div class="col-md-4  mb-3 pe-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Unique Hash" defaultValue="N"  valueOn="S" valueOff="N" id="uniqueHash" name="uniqueHash" formControlName="uniqueHash"></dms-toogle-switch>
                                    </div>
                                </div>
                                
                                <div class="d-flex" >                   
                                    <div class="col-md-4  mb-3 pe-3">
                                        <label for="database" class="form-label">Database</label>
                                        <input type="text" class="form-control" id="database" name="database" formControlName="database" maxlength="50" [ngClass]="{ 'is-invalid': isInvalid('database') }">
                                    </div>
                                    <div class="col-md-4  mb-3 pe-3">
                                        <label for="schema" class="form-label">Schema</label>
                                        <input type="text" class="form-control" id="schema" name="schema" formControlName="schema" maxlength="50" [ngClass]="{ 'is-invalid': isInvalid('schema') }" >
                                    </div>
                                    <div class="col-md-4  mb-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Integrity Check" defaultValue="N"  valueOn="S" valueOff="N" id="integrityCheck" name="integrityCheck" formControlName="integrityCheck"   ></dms-toogle-switch>
                                    </div>
                                </div>
                            </div>
                    </div>


                    <!--               sezione 3                 -->
                    <div class="tab-content" id="myTabContent">
                            <div  [hidden]="activeTab !== 'exportData'"> 
                                
                                <div class="d-flex" >
                                    <div class="col-md-4  mb-3 pe-3">
                                        <label for="sourceCharset" class="form-label">Source Charset</label>
                                        <input type="text" class="form-control" id="sourceCharset" name="sourceCharset" formControlName="sourceCharset" maxlength="20">
                                    </div>
                                    <div class="col-md-4  mb-3 pe-3">
                                        <label for="destCharset" class="form-label">Destination Charset</label>
                                        <input type="text" class="form-control" id="destCharset" name="destCharset" formControlName="destCharset" maxlength="20">
                                    </div>
                                    <div class="col-md-4  mb-3 ">
                                        <dms-select-custom label="File Format" 
                                            id="fileFormat"
                                            name="fileFormat"
                                            formControlName="fileFormat"
                                             [selectNgClass]="{ 'is-invalid': isInvalid('fileFormat') }"
                                            [(ngModel)]="fileFormat"
                                            [options]="fileFormats"
                                            [showEmptyOption]="true"
                                            emptyOptionLabel=""
                                            emptyOptionValue=""
                                            [displayMode]="'description'">
                                        </dms-select-custom>
                                    </div>
                                </div>

                                <div class="d-flex" >
                                    <!-- <div class="col-md-3  mb-3 pe-3">
                                        <label for="recordDelimiter" class="form-label">Record Delimiter</label>
                                        <input type="tet" class="form-control" id="recordDelimiter" name="recordDelimiter" formControlName="recordDelimiter" maxlength="5" >
                                    </div> -->
                                    <div class="col-md-3  mb-3 pe-3">
                                        <dms-select-custom label="Record Delimiter" 
                                            id="recordDelimiter"
                                            name="recordDelimiter"
                                            formControlName="recordDelimiter"
                                             [selectNgClass]="{ 'is-invalid': isInvalid('recordDelimiter') }"
                                            [(ngModel)]="recordDelimiter"
                                            [options]="recordDelimiters"
                                            [showEmptyOption]="true"
                                            emptyOptionLabel=""
                                            emptyOptionValue=""
                                            [displayMode]="'description'">
                                        </dms-select-custom>
                                    </div>
                                    <div class="col-md-3  mb-3 pe-3">
                                        <label for="fieldDelimiter" class="form-label">Field Delimiter</label>
                                        <input type="text" class="form-control" id="fieldDelimiter" name="fieldDelimiter" formControlName="fieldDelimiter" maxlength="5" >
                                    </div>
                                    <!-- <div class="col-md-3  mb-3 pe-3">
                                        <label for="stringDelimiter" class="form-label">String Delimiter</label>
                                        <input type="text" class="form-control" id="stringDelimiter" name="stringDelimiter" formControlName="stringDelimiter" maxlength="5" >
                                    </div> -->
                                    <div class="col-md-3  mb-3 pe-3">
                                        <dms-select-custom label="String Delimiter" 
                                            id="stringDelimiter"
                                            name="stringDelimiter"
                                            formControlName="stringDelimiter"
                                             [selectNgClass]="{ 'is-invalid': isInvalid('stringDelimiter') }"
                                            [(ngModel)]="stringDelimiter"
                                            [options]="stringDelimiters"
                                            [showEmptyOption]="true"
                                            emptyOptionLabel=""
                                            emptyOptionValue=""
                                            [displayMode]="'description'">
                                        </dms-select-custom>
                                    </div>
                                    <div class="col-md-3  mb-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Header" defaultValue="N"  valueOn="S" valueOff="N" id="header" name="header" formControlName="header"  ></dms-toogle-switch>
                                    </div>
                                </div>

                                <div class="d-flex" >
                                    <div class="col-md-3  mb-3 pe-3">
                                        <label for="removingSpaces" class="form-label">Removing Spaces</label>
                                        <input type="tet" class="form-control" id="removingSpaces" name="removingSpaces" formControlName="removingSpaces" maxlength="10" 
                                            ngbTooltip="Remove space for string field" >
                                    </div>
                                    <div class="col-md-3  mb-3 pe-3">
                                        <label for="numericFilling" class="form-label">Numeric Filling</label>
                                        <input type="text" class="form-control" id="numericFilling" name="numericFilling" formControlName="numericFilling" maxlength="10" 
                                        ngbTooltip="Specify how to fill numeric field" >
                                    </div>
                                    <div class="col-md-3  mb-3 pe-3">
                                        <label for="fetchSize" class="form-label">Fetch Size</label>
                                        <input type="numeric" class="form-control" id="fetchSize" name="fetchSize" formControlName="fetchSize" maxlength="12">
                                    </div>
                                    <div class="col-md-3  mb-3">
                                        <dms-toogle-switch lableOn="Yes" lableOff="No" lableComponent="Create File" defaultValue="N"  valueOn="S" valueOff="N" id="createFile" name="createFile"  formControlName="createFile"   ></dms-toogle-switch>
                                    </div>
                                </div>


                            </div>    
                    </div>





                </form>
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <div variable-section-3 class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class=" d-inline-flex justify-content-end">
                        <div></div>
                        <button type="button" class="btn btn-light col-md-3 pe-3 me-3" *ngIf="editMode == 'E' || editMode == 'C'" >Reset {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'I' || editMode == ''"  [disabled]="form.invalid"  (click)="submitForm()">Insert {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'C'"  [disabled]="form.invalid" (click)="submitForm()">Copy {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'D'" (click)="submitForm()">Delete {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary custom-secondary-btn col-md-3"  *ngIf="editMode == 'E'"  [disabled]="form.invalid" (click)="submitForm()">Update {{ componentDescription }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







