<div>
    <div class="row justify-content-end pt-2">
        <div class="col-md-6 d-flex align-items-end justify-content-end pe-0">
            <button type="button" class="btn btn-secondary mb-3 w-100" (click)="insertItem()" > New {{ buttonDescription }} </button>
        </div>
    </div>

    <div class="row mt-1 ms-3 bg-white p-6 rounded"> 
        <div class="row mt-3">
            <div class="col text-center">
                <h5>{{ buttonDescription }} Detail</h5>
            </div>
        </div>
        <div class="container mt-2 mb-1">
            <div class="form-check form-switch ps-0">
                <label class="form-check-label col-md-6" for="switchCheckLabelStart">Enable quick edit</label>
                <div class="d-inline-flex flex-row-reverse gap-1 col-md-6 ">
                    <input class="form-check-input ms-3" type="checkbox" role="switch" id="switchCheckLabelStart" (change)="toggleQuickEdit($event)"  [(ngModel)]="isQuickEditEnabled" />
                </div>
            </div>
        </div>


        <hr> <!-- Riga a dividere -->


        <ng-content select="[variable-section-1]"  ></ng-content> <!-- Qui verrà inserito il contenuto del componente figlio -->
        <!-- <ng-content *ngIf="!isQuickEditEnabled" select="[non-quick-edit]"></ng-content>  -->

    </div>


</div>

        <!-- Modal -->
        <ng-template #content let-modal>
            <div class="dms-modal-content">
                <div class="container">
                   <div class="modal-header flex-column pb-1">
                       <!-- Prima riga: Bottone di chiusura -->
                       <div class="container">
                           <div class="row">
                               <div class=" d-inline-flex justify-content-end">
                                   <div></div> <!-- Questo div vuoto serve per spingere il pulsante di chiusura a destra -->
                                   <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                               </div>
                           </div>
                       </div>
   
                       
                       
                     <div class="w-100 d-flex justify-content-center mt-2">
                             <h4 class="modal-title">Insert New {{ buttonDescription }}</h4>
                     </div>
                   </div>
                   <div class="modal-body">
                       <div class="container-fluid">
                               <ng-content select="[data-section]"></ng-content>
                       </div>
                   </div>
               </div>
             </div>

            
        </ng-template>