     <!--  sezione inserimento/modifica     -->  
<div data-section class="container mt-3">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-md-12">
                <form #manageForm="ngForm" (ngSubmit)="onManageRequest(manageForm.value, editMode)">
                    <div class="d-flex" >
                        <div class="col-md-6  mb-3 pe-3">
                            <label for="id" class="form-label">{{componentDescription}} Code</label>
                            <input type="text" class="form-control" id="id" name="id" maxlength="20" ngModel [disabled]="!isEditEnabled" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <dms-toogle-switch lableOn="Enable" lableOff="Disable" lableComponent="Email Enabled" defaultValue="S"  valueOn="S" valueOff="N" ngModel id="enabled" name="enabled" defaultValue="S" [disabled]="!isEditEnabled"></dms-toogle-switch>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" maxlength="100" ngModel [disabled]="!isEditEnabled">
                    </div>

                     <!-- Campo per i destinatari To -->
                     <div class="mb-3">
                        <label for="toRecipients" class="form-label">TO</label>
                        <input type="text" class="form-control" id="toRecipients" name="toRecipients" [(ngModel)]="toInput" (keyup.enter)="addToRecipient()" [disabled]="!isEditEnabled" placeholder="Inserisci email e premi Invio">
                        <div class="mt-2">
                            <span *ngFor="let recipient of toRecipients" class="badge bg-primary me-2" >
                                {{ recipient.emailAddress }}
                                <span class="ms-2"  *ngIf="isEditEnabled" (click)="removeToRecipient(recipient)">×</span>
                            </span>
                        </div>
                    </div>

                    <!-- Campo per i destinatari CC -->
                    <div class="mb-3">
                        <label for="ccRecipients" class="form-label">CC</label>
                        <input type="text" class="form-control" id="ccRecipients" name="ccRecipients" [(ngModel)]="ccInput" (keyup.enter)="addCcRecipient()" [disabled]="!isEditEnabled" placeholder="Inserisci email e premi Invio">
                        <div class="mt-2">
                            <span *ngFor="let recipient of ccRecipients" class="badge bg-secondary me-2" >
                                {{ recipient.emailAddress }}
                                <span class="ms-2"   *ngIf="isEditEnabled" (click)="removeCcRecipient(recipient)">×</span>
                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="bodyHtml" class="form-label">Body HTML</label>
                        <textarea class="form-control" id="bodyHtml" name="bodyHtml" ngModel [disabled]="!isEditEnabled"></textarea>
                    </div>
                    
                    <!-- campi nascosti -->
                    <input type="hidden" id="note" name="note" ngModel>
                </form>
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <div variable-section-3 class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class=" d-inline-flex justify-content-end">
                        <div></div>
                        <button type="button" class="btn btn-light col-md-3 pe-3 me-3" *ngIf="editMode == 'E' || editMode == 'C'" >Reset {{ componentDescription }}</button>
                        <button type="button" class="btn btn-secondary col-md-3"  *ngIf="editMode == 'I' || editMode == ''"  [disabled]="!manageForm.valid"  (click)="submitForm(manageForm)">Insert {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary col-md-3"  *ngIf="editMode == 'C'"  [disabled]="!manageForm.valid"  (click)="submitForm(manageForm)" >Copy {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary col-md-3"  *ngIf="editMode == 'D'" (click)="submitForm(manageForm)">Delete {{ componentDescription }}</button>
                        <button type="submit" class="btn btn-secondary col-md-3"  *ngIf="editMode == 'E'"  [disabled]="!manageForm.valid"  (click)="submitForm(manageForm)">Update {{ componentDescription }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




