/* You can add global styles to this file, and also import other style files */
/* template.component.css */
.custom-table thead tr th {
    border-bottom: 1px solid #dee2e6; /* Aggiungi bordatura solo alle righe orizzontali */
  }
  
  .custom-table tbody tr td {
    border-top: none; /* Rimuovi bordatura sulle righe verticali */
  }

  :root{
    --dms-toggle-switch-background: rgb(235, 235, 235);
    --dms-toggle-switch-border: transparent;
    --dms-toggle-switch-border-radius: 4px;
    --dms-toggle-switch-font-weight: 500;

    --dms-label-font-weight: 600;
    --dms-label-font-size:12px;

    --dms-btn-border-grey:#cfcfcfff;
    --dms-btn-reset-hover:#e6e6e6ff;

    --dms-modal-width: 1200px;
    --dms-modal-bg: var(--bs-body-bg);
    --dms-navbar-active-text: #007bff;

  }

  label{
    font-size: var(--dms-label-font-size);
    font-weight: var(--dms-label-font-weight);
  } 

  .btn-submit{
    font-size: var(--dms-label-font-size);
    font-weight: var(--dms-label-font-weight);
  }

  .btn-reset{
    font-size: var(--dms-label-font-size);
    font-weight: var(--dms-label-font-weight);
    border-color: #cfcfcfff;
  }

  .btn-log{
    font-size: var(--dms-label-font-size);
    font-weight: var(--dms-label-font-weight);
    border-color: #cfcfcfff;
  }

  .btn-log:hover,
  .btn-log:focus,
  .btn-log:active 
   {
    font-size: var(--dms-label-font-size);
    font-weight: var(--dms-label-font-weight);
    background-color: rgb(248, 249, 250)
  }


  .btn-reset:hover{
    background-color: var(--dms-btn-reset-hover);
  }


  .custom-secondary-btn {
    background-color: rgb(70, 166, 124); /* Colore di default */
    border-color: rgb(70, 166, 124); /* Colore del bordo */
    color: white; /* Colore del testo */
  }
  
  .custom-secondary-btn:hover {
    background-color: #3b966dff; /* Colore quando ci si posiziona sopra */
    border-color: #3b966dff; /* Colore del bordo quando ci si posiziona sopra */
  }

  .active{
    color: var(--dms-navbar-active-text);
  }

html, body { height: 100%; }
body { margin: 0; font-family: Inter, -apple-system, BlinkMacSystemFont, system-ui, sans-serif; }
