
/* Tabella responsive */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;



}



/* Tabella principale */
.custom-table {
  border-radius: 10px 10px 10px 10px;
  width: auto;
  min-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: var(--dms-bg-table-color) !important;



  
  /* Intestazioni e celle scrollabili */
  .scrollable-column {
    white-space: nowrap;
  }

 /* Colonna fissa dei bottoni */
 .fixed-buttons-header,
 .fixed-buttons-column {
   position: sticky;
   right: 0;
   background-color: var(--dms-bg-fixed-button);
   z-index: 10;
   border-left: 0px solid var(--bs-border-color);

   &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //border-top: 1px solid var(--bs-border-color);
    pointer-events: none; // Permette i click attraverso il pseudo-elemento
  }

 }
 
 .fixed-buttons-header {
   border-left: 0px solid var(--bs-border-color);
 }
 
 .fixed-buttons-column {
   border-left: 0px solid var(--bs-border-color);
   
   
   /* Previene la propagazione del click alla riga */
   pointer-events: auto;
   
   /* Stili esistenti bottoni */
   .btn {
     height: 25px;
     width: 50px;
     padding: 5px 10px;
   }
   
   button span i {
     height: 10px;
     font-size: 12px;
     color: rgba(13, 13, 13);
   }
 }


  

}





//css precedente
.custom-table tbody tr.empty-row {
  height: 43.5px; /* Altezza della riga vuota */
}

.custom-table tbody tr.empty-row td {
  border-top: none; /* Rimuove il bordo superiore */
  border-bottom: none; /* Rimuove il bordo inferiore */
}

.custom-table tbody tr.full-row td {
  font-size: 14px;
}

button.text-custom {
  color: var(--dms-button-test-custom);
  /*font-family: 'Inter var', Inter;*/
  font-size: 12px;
  font-weight: bold;
}

/* template.component.css */
.custom-table thead th:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Colore di sfondo al passaggio del mouse */
}


  /* template.component.css */
.custom-table thead tr {
  border-top: 1px solid var(--bs-border-color);
  border-bottom: 1px solid var(--bs-border-color);
  border-left: none;
  border-right: none;
}

/*.custom-table tfoot {
border-width: 1px;
border-color: var(--bs-border-color);
}
*/

.fixed-buttons-column {
width: 150px; /* Imposta la larghezza fissa per la colonna dei bottoni */
position: relative;
}

/*
.fixed-buttons-column button span i{
height: 10px;
font-size: 12px;
color: rgba(13, 13, 13);
vertical-align: 5em;
}
*/
.resize-handle {
position: absolute;
top: 0;
right: -5px;
bottom: 0;
width: 10px;
cursor: ew-resize; /* Mostra il cursore come una doppia freccia orizzontale */
z-index: 1;
}

.resize-handle:hover {
background-color: #f0f0f0; /* Evidenzia leggermente il manico di ridimensionamento */
}

.basic-filter:focus {
  border-color: transparent; /* Azzerare il colore del bordo quando in focus */
  box-shadow: none; /* Rimuovere l'ombra quando in focus */
  border-top-width: 0;
  border-bottom-width: 0;
}

.btn-custom-option {
  border-color: var(--bs-border-color);
}

/* Stile scrollbar */
.table-responsive::-webkit-scrollbar {
height: 10px;
}

.table-responsive::-webkit-scrollbar-track {
background:  #f8f9fa;;
}

.table-responsive::-webkit-scrollbar-thumb {
background: #e9ecef; //colore principale scrollbar
border-radius: 4px;
border: 1px solid  #dee2e6;

&:hover {
  background: #ced4da;
  border-color: #adb5bd;
}
}


/*navigazione tra pagine*/

a.page-link {
  font-size: 12px;
  color: rgba(13, 13, 13);
  background: #ffffff;
}

a.page-link:hover {
  background-color: #f0f0f0; /* Evidenzia leggermente il manico di ridimensionamento al passaggio del mouse */
}

